{% extends 'base.html.twig' %}

{% block body %}
    <h2>Cart Items</h2>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for data in item_list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.timestamp|date('F j, Y, g:i a') }}</td>
            <td class="pull-right">
                <a class="btn btn-default" href="{{ app.request.baseUrl }}/cart/details/{{ data.id }}">View</a>
                <a class="btn btn-warning" href="{{ app.request.baseUrl }}/cart/edit/{{ data.id }}">Edit</a>
                <a class="btn btn-danger" href="{{ app.request.baseUrl }}/cart/delete/{{ data.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}